name: Build APK

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup JDK 8
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 8

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3

    - name: Accept licenses
      run: yes | sdkmanager --licenses

    - name: Install SDK Platforms
      run: |
        sdkmanager "platform-tools"
        sdkmanager "platforms;android-29"
        sdkmanager "build-tools;29.0.3"

    - name: Grant permission
      run: chmod +x gradlew

    - name: Build APK
      run: ./gradlew assembleDebug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: AutoCalc-APK
        path: app/build/outputs/apk/debug/app-debug.apk
