name: Build APK

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      ANDROID_HOME: /usr/local/lib/android/sdk
      ANDROID_SDK_ROOT: /usr/local/lib/android/sdk

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    # تثبيت Java 17 للـ SDK
    - name: Setup JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    # تثبيت Android SDK
    - name: Install Android SDK
      run: |
        mkdir -p $ANDROID_HOME/cmdline-tools
        cd $ANDROID_HOME/cmdline-tools
        wget https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip
        unzip commandlinetools-linux-11076708_latest.zip
        mv cmdline-tools latest

        export PATH=$ANDROID_HOME/cmdline-tools/latest/bin:$PATH

        yes | sdkmanager --licenses
        sdkmanager "platform-tools"
        sdkmanager "platforms;android-29"
        sdkmanager "build-tools;29.0.3"

    # الرجوع إلى Java 8 للبناء
    - name: Setup JDK 8
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 8

    - name: Give permission
      run: chmod +x gradlew

    - name: Build Debug APK
      run: ./gradlew assembleDebug --no-daemon

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: AutoCalc-APK
        path: app/build/outputs/apk/debug/app-debug.apk
